<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstantMessenger</title>

    <link rel="stylesheet" href="~/css/mainCSS/main.css">
    <link rel="stylesheet" href="~/css/mainCSS/login.css">

    <script type="module" src="~/js/background/background.js"></script>
</head>
<body>
    @RenderBody()


    <div onclick="history.back()" id="back">
        &rarrhk;
    </div>

    <div id="LaptopGuy">
        <svg width="648" height="548" viewBox="0 0 648 548" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="undraw_Firmware_jw6u 1" clip-path="url(#clip0)">
                <path id="Vector" d="M315.39 137.643C315.39 137.643 328.613 207.27 315.39 226.046C302.167 244.822 355.836 252.254 355.836 252.254L411.45 231.913L419.228 181.845C419.228 181.845 385.393 162.678 392.393 123.952L315.39 137.643Z" fill="#F7C4A7" />
                <path id="Vector_2" d="M479.825 372.634C479.825 372.634 483.409 387.608 463.894 390.295C452.369 391.93 440.648 391.795 429.167 389.897L424.863 352.286H470.266L479.825 372.634Z" fill="#F7C4A7" />
                <path id="Vector_3" d="M142.718 352.644C142.718 352.644 134.313 387.297 153.346 390.45C172.379 393.603 242.296 393.603 242.296 393.603V352.612L210.645 359.471L180.924 330.54L142.718 352.644Z" fill="#F7C4A7" />
                <path id="Vector_4" opacity="0.1" d="M318.802 159.973L244.34 175.868C244.34 175.868 215.955 177.046 197.679 215.116C179.404 253.186 139.743 361.903 139.743 361.903C139.743 361.903 173.571 327.365 213.233 364.258L239.674 315.983L233.841 392.516H438.758V356.408C438.758 356.408 481.53 379.564 478.419 392.516C478.419 392.516 515.02 297.328 507.148 254.068C504.766 240.695 503.305 227.171 502.775 213.594V213.594C502.308 202.413 498.424 191.651 491.656 182.786C484.888 173.921 475.568 167.387 464.975 164.081C461.118 162.883 456.863 161.763 452.173 160.758C408.234 151.338 396.958 160.758 396.958 160.758C396.958 160.758 388.447 188.711 388.598 201.379C388.792 217.667 365.657 228.46 365.657 228.46C365.657 228.46 331.439 220.218 329.884 213.546C328.328 206.874 316.08 167.822 318.802 159.973Z" fill="black" />
                <path id="Vector_5" d="M318.802 158.87L244.34 174.692C244.34 174.692 215.954 175.864 197.679 213.759C179.404 251.654 139.743 359.869 139.743 359.869C139.743 359.869 173.571 325.49 213.233 362.213L239.674 314.161L233.841 390.341H438.758V354.4C438.758 354.4 481.53 377.449 478.419 390.341C478.419 390.341 515.02 295.592 507.148 252.531C504.766 239.22 503.305 225.759 502.775 212.244V212.244C502.308 201.114 498.424 190.402 491.656 181.578C484.888 172.753 475.568 166.25 464.975 162.959C461.118 161.767 456.863 160.652 452.173 159.651C408.234 150.275 396.958 159.651 396.958 159.651C396.958 159.651 388.447 187.476 388.598 200.086C388.792 216.298 365.657 227.042 365.657 227.042C365.657 227.042 331.439 218.838 329.884 212.196C328.328 205.555 316.08 166.683 318.802 158.87Z" fill="#575988" />
                <path id="Vector_6" opacity="0.1" d="M395.562 154.979C392.395 146.072 391.685 136.486 393.507 127.214L315.548 140.901C315.548 140.901 316.673 146.752 317.945 155.519C322.983 160.711 329.032 164.831 335.723 167.629C342.415 170.426 349.61 171.843 356.87 171.792C364.13 171.742 371.304 170.225 377.956 167.335C384.607 164.445 390.597 160.241 395.562 154.979V154.979Z" fill="black" />
                <path id="Vector_7" opacity="0.1" d="M252.01 252.254C252.01 252.254 240.353 283.418 256.673 311.465C272.993 339.512 242.296 351.198 242.296 351.198" fill="black" />
                <path id="Vector_8" opacity="0.1" d="M440.447 223.984C440.447 223.984 460.629 249.739 447.433 272.763C434.238 295.786 435.014 351.198 435.014 351.198" fill="black" />
                <path id="Vector_9" d="M232.902 375.119H459.049C464.03 375.119 468.807 377.066 472.329 380.533C475.851 383.999 477.83 388.701 477.83 393.603V393.603H214.122C214.122 388.701 216.1 383.999 219.622 380.533C223.144 377.066 227.921 375.119 232.902 375.119H232.902Z" fill="#535461" />
                <path id="Vector_10" d="M266.389 245.73H424.435C435.01 245.73 445.151 249.943 452.628 257.441C460.105 264.939 464.306 275.109 464.306 285.713V379.468H226.518V285.713C226.518 275.109 230.719 264.939 238.196 257.441C245.673 249.943 255.815 245.73 266.389 245.73V245.73Z" fill="#535461" />
                <path id="Vector_11" d="M345.976 332.714C353.444 332.714 359.499 326.386 359.499 318.579C359.499 310.773 353.444 304.444 345.976 304.444C338.507 304.444 332.452 310.773 332.452 318.579C332.452 326.386 338.507 332.714 345.976 332.714Z" fill="white" />
                <g id="headlaptopguy">
                    <path id="Vector_12" d="M515.032 254.654C512.548 240.788 511.024 226.765 510.471 212.688V212.688C509.984 201.093 505.933 189.934 498.873 180.742C491.814 171.55 482.093 164.775 471.044 161.347C467.02 160.105 462.583 158.944 457.69 157.901C414.767 148.754 401.728 156.74 400.247 157.79C398.997 155.497 397.911 153.117 396.998 150.669C396.925 150.42 396.857 150.167 396.787 149.915C405.281 140.825 410.457 129.115 411.469 116.695C418.628 109.41 422.811 100.622 422.811 91.1594C422.811 83.0214 419.714 75.383 414.294 68.7697V55.9277C414.294 48.5832 412.852 41.3106 410.051 34.5251C407.25 27.7397 403.145 21.5742 397.969 16.3808C392.793 11.1875 386.649 7.06787 379.886 4.25724C373.124 1.44661 365.876 1.34257e-06 358.557 0H354.037C346.717 -1.34256e-06 339.469 1.44661 332.707 4.25724C325.945 7.06787 319.8 11.1875 314.625 16.3808C309.449 21.5742 305.343 27.7396 302.542 34.5251C299.741 41.3106 298.3 48.5832 298.3 55.9277V69.7902C293.415 75.8442 290.701 83.3706 290.594 91.1594C290.594 100.423 294.606 109.039 301.492 116.233C302.433 129.109 307.846 141.245 316.789 150.528C317.09 152.627 317.4 154.888 317.705 157.273L240.911 173.569C240.911 173.569 211.304 174.79 192.242 214.265C176.104 247.684 143.982 333.599 134.504 359.176H134.504L134.504 359.177C132.786 363.812 131.811 366.469 131.811 366.469C131.811 366.469 132.126 366.15 132.729 365.605C132.132 367.222 131.811 368.097 131.811 368.097C131.811 368.097 132.277 367.624 133.163 366.847C131.818 377.551 131.626 395.923 145.601 398.212C157.315 400.131 187.488 400.919 210.29 401.242V401.264H211.871C226.981 401.468 238.477 401.468 238.477 401.468V401.264H483.647V398.743C483.65 396.453 483.19 394.186 482.296 392.079C482.414 391.943 482.528 391.806 482.638 391.668C483.95 393.406 484.823 395.437 485.182 397.587C485.155 397.797 485.116 398.006 485.067 398.212C485.067 398.212 485.117 398.081 485.211 397.835C485.27 398.507 485.221 399.184 485.067 399.84C485.067 399.84 516.522 318.514 516.186 269.956C516.277 264.83 515.891 259.708 515.032 254.654ZM318.963 168.254C318.558 165.934 318.298 163.592 318.185 161.24L318.187 161.175C318.457 163.458 318.719 165.827 318.963 168.254ZM223.674 342.934V362.316L211.565 364.911L223.674 342.934Z" fill="url(#paint0_linear)" />
                    <path id="Vector_13" d="M355.038 7.82208H355.038C369.821 7.82209 383.998 13.7145 394.45 24.203C404.903 34.6914 410.775 48.9169 410.775 63.7498V87.6072H299.301V63.7498C299.301 48.9168 305.173 34.6914 315.626 24.2029C326.079 13.7144 340.256 7.82208 355.038 7.82208V7.82208Z" fill="#E14B5A" />
                    <path id="Vector_14" d="M355.428 139.233C390.516 139.233 418.961 119.621 418.961 95.4293C418.961 71.2372 390.516 51.6257 355.428 51.6257C320.34 51.6257 291.895 71.2372 291.895 95.4293C291.895 119.621 320.34 139.233 355.428 139.233Z" fill="#E14B5A" />
                    <path id="Vector_15" d="M408.242 115.571C408.242 129.566 402.745 142.998 392.943 152.953C383.14 162.909 369.823 168.588 355.876 168.758C341.93 168.927 328.479 163.575 318.438 153.861C308.398 144.146 302.578 130.853 302.24 116.862C302.228 116.431 302.224 116.001 302.224 115.571C302.223 105.612 305.007 95.852 310.26 87.4022C315.514 78.9524 323.025 72.1518 331.94 67.7743C333.531 66.996 335.164 66.2946 336.84 65.6702C345.565 62.452 354.977 61.5757 364.143 63.128C364.149 63.1316 364.156 63.1329 364.163 63.1319C375.904 65.1382 386.629 71.0569 394.606 79.9323C402.583 88.8076 407.345 100.122 408.125 112.047C408.203 113.213 408.242 114.387 408.242 115.571Z" fill="#F7C4A7" />
                    <g id="Group" opacity="0.1">
                        <path id="Vector_16" opacity="0.1" d="M336.766 66.9183C336.79 66.9012 336.814 66.8856 336.84 66.8713C335.164 67.4932 333.531 68.1946 331.94 68.9755C323.025 73.353 315.514 80.1535 310.26 88.6033C305.007 97.0532 302.223 106.813 302.224 116.772C302.224 117.202 302.228 117.633 302.24 118.063C303.887 118.019 305.507 117.629 306.995 116.917C319.92 110.867 327.672 92.3478 330.717 79.4336C331.808 74.8107 332.852 69.6013 336.766 66.9183Z" fill="black" />
                        <path id="Vector_17" opacity="0.1" d="M377.341 68.4123C373.146 66.4778 368.715 65.1063 364.163 64.3331C367.897 65.1946 371.232 67.2963 373.626 70.2975C374.8 71.8995 375.773 73.6398 376.523 75.4795C369.469 72.3846 361.828 70.8646 354.13 71.0246C346.433 71.1847 338.861 73.021 331.94 76.4065C335.269 83.7241 345.586 87.7172 352.474 90.3885C360.016 93.31 367.646 95.9813 375.365 98.4022C373.092 96.5484 370.82 94.6971 368.548 92.8485C373.677 93.6659 378.808 94.4846 383.94 95.3046C384.106 92.2304 383.743 89.1503 382.865 86.2001C385.795 88.5846 389.724 89.3837 392.924 91.4092C398.923 95.2029 401.417 102.524 404.687 108.837C405.444 110.574 406.627 112.092 408.125 113.248C407.493 103.686 404.299 94.4723 398.881 86.5805C393.462 78.6886 386.02 72.4116 377.341 68.4123Z" fill="black" />
                    </g>
                    <path id="Vector_18" d="M336.766 65.7171C336.79 65.7001 336.814 65.6844 336.84 65.6702C335.164 66.292 333.531 66.9934 331.94 67.7743C323.025 72.1518 315.514 78.9523 310.26 87.4022C305.007 95.852 302.223 105.612 302.224 115.571C302.224 116.001 302.228 116.431 302.24 116.862C303.887 116.818 305.507 116.427 306.995 115.716C319.92 109.665 327.672 91.1466 330.717 78.2324C331.808 73.6095 332.853 68.4001 336.766 65.7171Z" fill="#632652" />
                    <path id="Vector_19" d="M377.341 67.2111C373.146 65.2766 368.715 63.9051 364.163 63.132C367.897 63.9935 371.232 66.0952 373.626 69.0963C374.799 70.6984 375.772 72.4387 376.523 74.2783C369.469 71.1834 361.828 69.6634 354.13 69.8235C346.433 69.9835 338.861 71.8198 331.94 75.2053C335.269 82.5229 345.586 86.516 352.474 89.1873C360.016 92.1088 367.646 94.7801 375.365 97.201C373.092 95.3472 370.82 93.496 368.548 91.6473C373.677 92.4647 378.808 93.2834 383.94 94.1035C384.106 91.0292 383.743 87.9492 382.865 84.999C385.795 87.3834 389.724 88.1825 392.924 90.2081C398.922 94.0018 401.417 101.323 404.687 107.636C405.444 109.373 406.627 110.891 408.125 112.047C407.493 102.485 404.299 93.2712 398.881 85.3793C393.462 77.4875 386.02 71.2104 377.341 67.2111V67.2111Z" fill="#632652" />
                    <path id="Vector_20" opacity="0.1" d="M296.183 106.799C296.183 106.799 350.751 38.7472 413.894 106.799L408.437 91.5461C408.437 91.5461 378.814 48.1336 357.767 57.5201C336.719 66.9066 316.061 73.5554 316.061 73.5554L296.183 106.799Z" fill="black" />
                    <path id="Vector_21" d="M296.183 105.598C296.183 105.598 350.751 37.546 413.894 105.598L408.437 90.3449C408.437 90.3449 378.814 46.9325 357.767 56.319C336.719 65.7054 316.061 72.3542 316.061 72.3542L296.183 105.598Z" fill="#E14B5A" />
                    <path id="Vector_22" opacity="0.1" d="M299.301 74.8914C299.301 74.8914 352.933 21.1051 410.775 73.9106" stroke="black" stroke-miterlimit="10" />
                    <path id="Vector_23" d="M424.328 71.4655H418.942V102.094H424.328V71.4655Z" fill="#6A5C99" />
                    <path id="Vector_24" d="M411.76 91.2836C416.68 91.2836 421.4 93.245 424.879 96.7364C428.359 100.228 430.313 104.963 430.313 109.901V111.102C430.313 116.039 428.359 120.775 424.879 124.266C421.4 127.757 416.68 129.719 411.76 129.719V91.2836Z" fill="#FFD037" />
                    <path id="Vector_25" d="M412.358 89.482H412.358C410.044 89.482 408.169 91.3641 408.169 93.6859V127.317C408.169 129.638 410.044 131.521 412.358 131.521H412.358C414.672 131.521 416.548 129.638 416.548 127.317V93.6859C416.548 91.3641 414.672 89.482 412.358 89.482Z" fill="#6A5C99" />
                    <path id="Vector_26" d="M285.199 102.694H290.585V72.066H285.199V102.694Z" fill="#6A5C99" />
                    <path id="Vector_27" d="M297.767 130.319C292.846 130.319 288.127 128.358 284.648 124.867C281.168 121.375 279.214 116.64 279.214 111.702V110.501C279.214 105.564 281.168 100.828 284.648 97.337C288.127 93.8456 292.846 91.8842 297.767 91.8842V130.319Z" fill="#FFD037" />
                    <path id="Vector_28" d="M297.169 132.121H297.169C299.482 132.121 301.358 130.239 301.358 127.917V94.2864C301.358 91.9647 299.482 90.0826 297.169 90.0826H297.169C294.855 90.0826 292.979 91.9647 292.979 94.2864V127.917C292.979 130.239 294.855 132.121 297.169 132.121Z" fill="#6A5C99" />
                    <path id="Vector_29" d="M418.304 38.7281C411.01 23.5113 395.126 5.11374 360.884 3.64533L360.887 3.60339L360.476 3.62305L360.449 3.62158L360.449 3.62433L348.318 4.20402L348.32 4.26364C314.304 5.83476 298.494 24.1605 291.223 39.3289C286.389 49.6043 283.824 60.8066 283.703 72.1691L287.892 72.0662L292.08 71.9697C292.263 61.842 294.588 51.8689 298.901 42.7105C308.136 23.6799 325.126 13.5571 349.399 12.6234L349.399 12.616L360.128 12.0201L360.128 12.0229C384.401 12.9566 401.391 23.0794 410.626 42.1099C414.939 51.2683 417.263 61.2415 417.447 71.3691L421.635 71.4656L425.823 71.5686C425.703 60.2061 423.138 49.0037 418.304 38.7281V38.7281Z" fill="#FFD037" />
                </g>
                <path id="Vector_30" d="M609.683 393.603H38.3165V548H609.683V393.603Z" fill="#D6D6E3" />
                <path id="Vector_31" opacity="0.1" d="M609.683 404.476H38.3165V424.048H609.683V404.476Z" fill="black" />
                <path id="Vector_32" d="M648 391.429H0V411H648V391.429Z" fill="#D6D6E3" />
                <path id="Vector_33" d="M442.894 341.413C442.894 341.413 467.501 386.56 529.018 374.247C590.536 361.934 560.803 488.14 560.803 488.14C560.803 488.14 550.737 548.345 557.82 547.999" stroke="#535461" stroke-width="3" stroke-miterlimit="10" />
            </g>
            <defs>
                <linearGradient id="paint0_linear" x1="136844" y1="277683" x2="136844" y2="120030" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#808080" stop-opacity="0.25" />
                    <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12" />
                    <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
                </linearGradient>
                <clipPath id="clip0">
                    <rect width="648" height="548" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
