#site {
    position: fixed;
    float: left;
    width: var(--Site-Size);
    height: 100vh;
    background-color: var(--Accent-900);
    border-right: 1px solid var(--BG-700);
    z-index: 1;
}
#site #ownUser{
    height: var(--OwnUser-Size);
    width: 100%;
    position: relative;
    background-color: var(--BG-200);
    box-shadow: 0 0 2px var(--Shadow-700);
    overflow: hidden;
}
#site #ownUser #ownUserImg, #site .user .userImg, #main header img.userImg {
    cursor: pointer;
    float: left;
    border-radius: 50%;
    height: calc(var(--OwnUser-Size)*0.75);
    width: calc(var(--OwnUser-Size)*0.75);
    margin: calc(calc(var(--OwnUser-Size)*0.25)/3);
    box-shadow: 0 0 4px 2px var(--Shadow-600);
    background-color: aliceblue;
    position: relative;
}
#site #ownUser .userContent, #site .user .userContent{
    float: left;
    position: relative;
    height: var(--OwnUser-Size);
}
#site #ownUser .userContent #name, #site #ownUser .userContent #status, #site .user .userContent .latestMsg {
    position: relative;
    transform: translateY(calc(var(--OwnUser-Size)/3.5));
    float: left;
    clear: left;
    pointer-events: none;
}
#site #ownUser .userContent #name > p, #site .user .userContent .name > p{
    font-family: var(--title);
    pointer-events: none;
}





#site .user{
    height: var(--User-Size);
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--BG-200);
}
#site .user::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: calc(var(--User-Size) - 2%);
    top: calc(var(--User-Size) - 2px);
    background-color: var(--BG-400);
}
#site .user .userImg {
    height: calc(var(--User-Size)*0.75);
    width: calc(var(--User-Size)*0.75);
    margin: calc(var(--User-Size)*0.125);
}
#site .user .userContent .latestMsg{
    transform: translateY(calc(var(--User-Size)*.05));
}
#site .user .userContent{
    height: calc(var(--User-Size)*.8);
    transform: translateY(calc(var(--User-Size)*.1));
}
#site .user .userImg {
    height: calc(var(--User-Size)*0.75);
    width: calc(var(--User-Size)*0.75);
    margin: calc(calc(var(--User-Size)*0.25)/3);
}



#main {
    position: fixed;
    left: var(--Site-Size);
    width: calc(100vw - var(--Site-Size));
    height: 100vh;
}
#main header{
    display: block;
    position: relative;
    height: var(--OwnUser-Size);
    width: calc(100vw - var(--Site-Size));
    background-color: var(--Accent-700);
}
#main header::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}