@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="~/img/microsoft-net.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Used Technologies</h5>
                    <p class="card-text">Find out, what Technologies we used to create this Webapplication</p>
                    <a href="/Home/Technologies" class="btn btn-primary">Find Out!</a>
                </div>
            </div>
        </div>

        <div class="col-sm">

        </div>

        <div class="col-sm">

        </div>
    </div>
</div>
