@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-deck">
        <div class="card">
            <img src="~/img/microsoft-net.jpg" />
            <div class="card-body">
                <h5 class="card-title">Used Technologies</h5>
                <p class="card-text">Find out, what Technologies we used to create this Webapplication</p>
                <a href="/Home/Technologies" class="btn btn-primary">Find Out!</a>
            </div>
        </div>

        <div class="card">
            <img src="~/img/microsoft-net.jpg" />
            <div class="card-body">
                <h5 class="card-title">Sources</h5>
                <p class="card-text">Find out, where we got our images and information about the used technologies</p>
                <a href="/Home/Sources" class="btn btn-primary">Find Out!</a>
            </div>
        </div>

        <div class="card">
            <img src="~/img/microsoft-net.jpg" />
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <a href="/Home/Sources" class="btn btn-primary">Find Out!</a>
            </div>
        </div>
    </div>
</div>
