@{
    ViewData["Title"] = "Sources";
}

<h1>@ViewData["Title"]</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a href="https://wakeupandcode.com/csharp-resources/"><img src="~/img/microsoft-net.jpg" width="400px" /></a>
    </li>
    <li class="list-group-item">
        <a href="https://docs.microsoft.com">Full documentation of all .Net products and C#. Also includes parts of jQuery, JS and bootstrap</a>
    </li>
    <li class="list-group-item">
        <a href="https://getbootstrap.com/docs/4.3/">Full documentation of Bootstrap</a>
    </li>
</ul>