@{
    ViewData["Title"] = "Sources";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a href="https://wakeupandcode.com/csharp-resources/"><img src="~/img~/img/microsoft-net.jpg" /></a>
    </li>
    <li>
        <a href="https://docs.microsoft.com">Full documentation of all .Net products and C#. Also includes parts of jQuery, JS and bootstrap</a>
    </li>
    <li>
        <a href="https://getbootstrap.com/docs/4.3/">Full documentation of Bootstrap</a>
    </li>
</ul>