@{
    ViewData["Title"] = "Technologies";
}

<h1>@ViewData["Title"]</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a href="https://docs.microsoft.com/de-de/aspnet/core/?view=aspnetcore-5.0">ASP.NET</a>
    </li>
    <li class="list-group-item">
        <a href="https://docs.microsoft.com/de-de/ef/">Entity Framework</a>
    </li>
    <li class="list-group-item">
        <a href="https://docs.microsoft.com/de-de/aspnet/signalr/">SignalR</a>
    </li>
    <li class="list-group-item">
        <a href="https://jquery.com/">JQuery</a>
    </li>
    <li class="list-group-item">
        <a href="https://getbootstrap.com/">Bootstrap</a>
    </li>
</ul>
