@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Login";
}


<div id="login">
    <img src="~/img/Universal_Icon.svg" alt="" id="logo">
    <p id="text">Login</p>
    <p id="info">Bitte geben Sie ihre Kontodaten ein!</p>
    <div asp-validation-summary="All" id="errorMsg"></div>
    <form id="account" method="post">
        <input required type="text" asp-for="Input.UsernameorEmail" id="Username">
        <label for="Username" asp-for="Input.UsernameorEmail"><p>Benutzername:</p></label>
        <input required asp-for="Input.Password" id="Password">
        <label for="Password" asp-for="Input.Password"><p>Password:</p></label>
        <input id="loginBtn" type="submit" value="Anmelden">
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
