@page
@using InstantMessenger.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ProfilePicture
@{
    ViewData["Title"] = "Profile Picture";
    ViewData["ActivePage"] = ManageNavPages.ProfilePicture;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
@if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
{
    <img style="width:400px;height:400px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
}
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file">
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}