* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
}

body {
    --width-inner: calc(100vw - 310px);
    --width-outer: 300px;
}

.chatsOverall {
    overflow: hidden;
    min-height: 100%;
    width: var(--width-outer);
    background: gray;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.userChat {
    overflow: hidden;
    height: fit-content;
    padding: 10px;
    width: 280px;
    position: relative;
    display: flex;
}

    .userChat#active {
        background-color: burlywood;
    }

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.openChatOverall {
    top: 0px;
    right: 0px;
    width: var(--width-inner);
    position: absolute;
    height: 100vh;
}

.message {
    min-height: 75px;
    width: 30vw;
    min-width: 150px;
    background: lightgray;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    padding: 10px;
}

.from.message::after {
    content: "";
    position: absolute;
    height: 20px;
    background: inherit;
    width: 20px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -1;
    top: 0px;
    left: -10px;
}

.you {
    transform: translateX(100vh);
}

    .you.message::after {
        content: "";
        position: absolute;
        height: 20px;
        background: inherit;
        width: 20px;
        clip-path: polygon(100% 0, 0 0, 0 100%);
        z-index: -1;
        top: 0px;
        right: -10px;
    }

#inputMessage {
    overflow: hidden;
    resize: none;
    padding: 10px;
    height: 50px;
    display: flex;
    width: calc(100% - calc(10px*4));
    left: -10px;
    position: relative;
}

#scrollbar {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 100px;
    background-color: var(--Accent-logo-900);
    width: 10px;
    z-index: 100;
    border-radius: 10px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #333;
    padding: 10px;
    font-size: 16px;
    color: white;
    outline: none;
    border-radius: 5px;
    border-color: #23272A;
    border-width: 2px;
    font-family: "Open Sans", sans-serif;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #222;
    border-radius: 5px;
    border-width: 2px;
    overflow-y: scroll;
    max-height: 400px;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #444;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #555;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.weiterescont {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
