* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
}

body {
    --width-inner: calc(100vw - 310px);
    --width-outer: 300px;
}

.chatsOverall {
    overflow: hidden;
    min-height: 100%;
    width: var(--width-outer);
    background: gray;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.userChat {
    overflow: hidden;
    height: fit-content;
    padding: 10px;
    width: 280px;
    position: relative;
    display: flex;
}

    .userChat#active {
        background-color: burlywood;
    }

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.openChatOverall {
    top: 0px;
    right: 0px;
    width: var(--width-inner);
    position: absolute;
    height: 100vh;
}

.message {
    min-height: 75px;
    width: 30vw;
    min-width: 150px;
    background: lightgray;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    padding: 10px;
}

.from.message::after {
    content: "";
    position: absolute;
    height: 20px;
    background: inherit;
    width: 20px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -1;
    top: 0px;
    left: -10px;
}

.you {
    transform: translateX(100vh);
}

    .you.message::after {
        content: "";
        position: absolute;
        height: 20px;
        background: inherit;
        width: 20px;
        clip-path: polygon(100% 0, 0 0, 0 100%);
        z-index: -1;
        top: 0px;
        right: -10px;
    }

#inputMessage {
    overflow: hidden;
    resize: none;
    padding: 10px;
    height: 50px;
    display: flex;
    width: calc(100% - calc(10px*4));
    left: -10px;
    position: relative;
}

#scrollbar {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 100px;
    background-color: var(--Accent-logo-900);
    width: 10px;
    z-index: 100;
    border-radius: 10px;
}
