@model IEnumerable<InstantMessenger.Models.Chat>

@{
    ViewData["Title"] = "Index";
    Layout = "_Chat";
}
<div class="chats">
</div>
<div class="openChat">
</div>
<div class="input">
    <input type="text" name="textMessage" id="inputMessage">
</div>
