@model IEnumerable<InstantMessenger.Models.Chat>

@{
    ViewData["Title"] = "Index";
    Layout = "_Chat";
}
<div class="chatsOverall">
    <div class="autocomplete">
        <input id="username" type="text" name="username" placeholder="Nutzername" autocomplete="off">
    </div>
    <div class="chats">
    </div>
</div>
<div class="openChatOverall">
    <div class="openChat">
    </div>
    <div class="input">
        <textarea placeholder="Nachricht schreiben!" name="textMessage" id="inputMessage"></textarea>
    </div>
</div>

<script src ="~/js/chatJS/autocomplete.js"></script>
<script src ="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("/Chats/Details", function (data) {
            console.log(data);
            countries = data;
            autocomplete(document.getElementById("username"), countries);
        });
    });
</script>