@model IEnumerable<InstantMessenger.Models.Chat>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<div class="chats">
</div>
<div class="openChat">
</div>

<!-- Imports -->
<link rel="stylesheet" href="~/css/mainCSS/main.css">
<link rel="stylesheet" href="~/css/chatCSS/chat.css">

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chatJS/chat.js"></script>
<script src="~/js/chatJS/chatFetcher.js"></script>
