@model IEnumerable<InstantMessenger.Models.Chat>

@{
    ViewData["Title"] = "Index";
    Layout = "_Chat";
}
<div class="chatsOverall">
    <div class="chats">
    </div>
</div>
<div class="openChatOverall">
    <div class="openChat">
    </div>
    <div class="input">
        <textarea placeholder="Nachricht schreiben!" name="textMessage" id="inputMessage"></textarea>
    </div>
</div>
